<div class="two-columns-container">
  <div class="lefted-column blocks-align-center">
      {{> arrow style="arrow-left"}}
  </div>
  <div class="main-column" >
      <div class="inner-container">
        <div class="page-content">
          {{> avatar src=defaultImage alt="Helena" style="full-size"}}
          {{> text content="Helena" style="regular600 text-default"}}
          <form class="form">
            <div class="list-items">
              <div class="item">
                <div class="itemKey">{{> text content="Old password" style="regular500 small"}}</div>
                {{> textInput autofocus="autofocus" type="password" simple="simple" inputId="old-pass" alertMessage="Invalid password" inputStyle="regular500 small grey2"}}
              </div>
              <div class="item">
                <div class="itemKey">{{> text content="New password" style="regular500 small"}}</div>
                {{> textInput type="password" simple="simple" inputId="new-pass" alertMessage="Invalid password" inputStyle="regular500 small grey2"}}
              </div>
              <div class="item">
                <div class="itemKey">{{> text content="Repeat new password" style="regular500 small"}}</div>
                {{> textInput type="password" simple="simple" inputId="repeat-pass" alertMessage="Invalid" inputStyle="regular500 small grey2"}}
              </div>
            </div>
            <div class="form-actions-wrapper">
              {{> button type="submit" label="Save" style="submit-btn"}}
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
