.main-header-chat {
  display: flex;
  align-items: center;
}
.dialog-menu-items {
  display: none;
  position: relative;
}

.dialog-menu {
  right: 10px;
  position: absolute;
  &:hover {
    & {
      .dialog-menu-items {
        display: block;
      }
    }
  }
}
