<div {{right}} class="image-message-wrapper">
  {{#if src}}
      <img class="image" src={{src}} alt={{alt}} />
    {{/if}}
  <span class="message-time image small9 white right">{{time}}</span>
</div>
