.image-message-wrapper {
  background-color: var(--white);
  max-width: calc(50% - 64px) ;
  border-radius: 12px;
  margin: 11px 0;
}
.image-message-wrapper > .image {
  max-width: 100%;
}



.message-time.image {
  background-color: #52525280;
    background-color: var(--grey4);
    border-radius: 30px;
    padding: 2px 7px;
    display: block;
    width: fit-content;
    margin-left: auto;
    position: relative;
    bottom: 22px;
    margin-right: 8px;
}
