<div class="two-columns-container">
  <div class="lefted-column blocks-align-center">
      {{> arrow style="arrow-left"}}
  </div>
  <div class="main-column" >
      <div class="inner-container">
        <div class="page-content">
          {{{avatar}}}
          {{> text content="Helena" style="regular600 text-default"}}
          {{{form}}}
        </div>
      </div>
  </div>
</div>
