<div class="two-columns-container">
  <div class="lefted-column blocks-align-center">
      {{> arrow style="arrow-left"}}
  </div>
  <div class="main-column" >
      <div class="inner-container">
        <div class="page-content">
          {{{avatar}}}
          {{> text content="Helena" style="regular600 text-default"}}
          <div class="list-items">
            {{#each personalData}}
              {{{this}}}
            {{/each}}
          </div>
          <div class="list-items">
            {{#each navigationLinks}}
              <div class="item">
                <div class="itemKey">
                  {{{this}}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
  </div>
</div>
