<div class="main-footer-chat">
  <form class="chat-message-send">
    {{> attachInput src=attachIcon inputId="attach"}}
    {{> messageInput
      placeholder="Message"
      inputId="message"
    }}
    {{> arrow style="arrow-right" typeButton="submit"}}
  </form>
</div>
