input.attach-input[type="file"]:not([type="text"]) {
  outline: none;
  resize: none;
  border: none;
  width: 32px;
  height: 32px;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.attach-input-control{
  position: relative;
}
