.message-input-control {
  margin: 0 10px;
  flex-grow: 1;
}

input.message-input[type="text"] {
  border: 1px solid var(--grey1);
  border-radius: 30px;
  height: 2rem;
  padding: 10px 20px;
  outline: none;
  resize: none;
  color: var(--grey2);
  background-color: var(--grey1);
}

input.message-input[type="text"]:focus {
  box-shadow: 0 0 1px 0 var(--blue1);
  border-color: var(--blue1);
}
