.search-input-control {
  display: flex;
  background-color: var(--grey1);
  border-radius: 5px;
}

input.search-input[type="search"] {
  border: 1px solid var(--grey1);
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  padding: 9px 4px 9px 40px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEISURBVHgBlVLbbcJAENw7uwBKSDpwOkgqCB0kfNj+8EfoILiChA/Lsv1x0IE7QHQAHVACBfjBjOCkswUIRlrfavbmdu7WIiMYY14YcgfKJlVV/XZdN0c6uVAHrfUqDMP0qqgsS9P3/RSiJaImB8EU8aOUqqMomg1EeZ5/o2iapnlLkmTnFrMsC3zf3yBN4zj+t7z2PI+nrcYCghwcrFH/dHkNMsC6lRtAncL3gQhxlDuA9cl4j0Zr2vq6JaI1dBo40W3bpmzPJx8LyLGGmA8O4qcoCpJ/cp5NfblLYO8CbuHOi3cSPifm84p062zecwzgZ4iF60TJA7CztB0fErlCdP2QZ8A/hOsJ2CuKg/fMy9AAAAAASUVORK5CYII=") no-repeat 20px center;
  outline: none;
  resize: none;
  color: var(--grey2);
}

input.search-input[type="search"]:focus {
  box-shadow: 0 0 1px 0 var(--blue1);
  border-color: var(--blue1);
}
