<div class="app-container">
  <div class="inner-container">
    <div class="center-wrapper blocks-align-left">
      <div class="page-title app-page-title left">
        {{> text content="Static pages:" style="regular500 medium"}}
      </div>
      <nav class="list">
        <ul>
          {{!-- <li onClick="goToPage('signin')">{{> link label="Sign In"}}</li>
          <li onClick="goToPage('registration')">{{> link label="Registration"}}</li>
          <li onClick="goToPage('page404')">{{> link label="404 Page"}}</li>
          <li onClick="goToPage('page500')">{{> link label="500 Page"}}</li>
          <li onClick="goToPage('profile')">{{> link label="Profile"}}</li>
          <li onClick="goToPage('changeData')">{{> link label="Change Personal Data"}}</li>
          <li onClick="goToPage('changePassword')">{{> link label="Change Password"}}</li>
          <li onClick="goToPage('selectChat')">{{> link label="Select chat page"}}</li> --}}
          <li onClick="goToPage('chat')">{{> link label="Chat page"}}</li>
          {{!-- <li onClick="goToPage('menu')">{{> link label="Menus page"}}</li>

          <li onClick="goToPage('uploadFile1Modal')">{{> link label="Modal ex 1"}}</li>
          <li onClick="goToPage('uploadFile2Modal')">{{> link label="Modal ex 2"}}</li>
          <li onClick="goToPage('uploadFile3Modal')">{{> link label="Modal ex 3"}}</li>
          <li onClick="goToPage('uploadFile4Modal')">{{> link label="Modal ex 4"}}</li>

          <li onClick="goToPage('userForm1Modal')">{{> link label="Modal ex 5"}}</li>
          <li onClick="goToPage('userForm2Modal')">{{> link label="Modal ex 6"}}</li> --}}
        </ul>
      </nav>
    </div>
  </div>
</div>
