<div class="container">
  <div class="inner-container">
    <div class="paper">
      <div class="form-title center">
          {{> text content="Registration" style="regular500 medium"}}
        </div>
      {{{form}}}
      <div class="links-wrapper">
        {{{link}}}
      </div>
    </div>
  </div>
</div>
