<div class="two-columns-container">
  <div class="lefted-column-chat blocks-align-center">
    <div class="left-wrapper">
      <div class="header-left-col right">
        {{> link label="Profile >" style="regular500 smallerPlus grey2"}}
      </div>
      <div class="search-left-col">
        {{> searchInput
          wrapperStyle="smallerPlus regular500"
          placeholder="Search"
          inputId="search"
        }}
      </div>
      <div class="chats-left-col">
        <div class="chat-wrapper">
          {{> divider}}
          {{> chat
            alt="Default avatar"
            name="Helena"
            message="Друзья, у меня для вас особенный выпуск новостей!...Друзья, у меня для вас особенный выпуск новостей!..."
            time="12:30"
            count="30"
          }}
        </div>
        <div class="chat-wrapper">
          {{> divider}}
          {{> chat
            alt="Default avatar"
            name="Helena"
            sender="Вы: "
            message="test message"
            time="12:30"
            count="30"
          }}
        </div>
        <div class="chat-wrapper">
          {{> divider}}
          {{> chat
            alt="Default avatar"
            name="Helena"
            sender="Вы: "
            message="test message"
            time="12:30"
            count="30"
          }}
        </div>
        <div class="chat-wrapper">
          {{> divider}}
          {{> chat
            alt="Default avatar"
            name="Helena"
            sender="Вы: "
            message="test message"
            time="12:30"
            count="30"
          }}
        </div>
        <div class="chat-wrapper">
          {{> divider}}
          {{> chat
            alt="Default avatar"
            name="Helena"
            sender="Вы: "
            message="test message"
            time="12:30"
            count="30"
          }}
        </div>
        <div class="chat-wrapper">
          {{> divider}}
          {{> chat
            alt="Default avatar"
            name="Helena"
            sender="Вы: "
            message="test message"
            time="12:30"
            count="30"
          }}
        </div>
        <div class="chat-wrapper">
          {{> divider}}
          {{> chat
            alt="Default avatar"
            name="Helena"
            sender="Вы: "
            message="test message"
            time="12:30"
            count="30"
          }}
        </div>
        <div class="chat-wrapper">
          {{> divider}}
          {{> chat
            alt="Default avatar"
            name="Helena"
            sender="Вы: "
            message="test message"
            time="12:30"
            count="30"
          }}
        </div>
        <div class="chat-wrapper">
          {{> divider}}
          {{> chat
            alt="Default avatar"
            name="Helena"
            sender="Вы: "
            message="test message"
            time="12:30"
            count="30"
          }}
        </div>
        <div class="chat-wrapper">
          {{> divider}}
          {{> chat
            alt="Default avatar"
            name="Helena"
            sender="Вы: "
            message="test message"
            time="12:30"
            count="30"
          }}
        </div>
      </div>
    </div>
  </div>
  <div class="main-column-chat" >
      {{!-- <div class="inner-container"> --}}
        <div class="no-content">
          {{> text
            content="Select a chat to send a message"
            style="regular500 smallerPlus grey2"
          }}

        </div>
          {{!-- <div class="page-content"> --}}
        {{!-- </div> --}}
      {{!-- </div> --}}
  </div>
</div>
