nav.menu-wrapper {
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  width: fit-content;
  padding: 15px;
}

.menu-item {
  display: flex;
  align-items: center;

    &:not(:first-of-type) {
      padding-top: 16px;
    }
}

.menu-wrapper > .menu-item > .menu-icon {
  margin-right: 15px;
}
