.main-chat-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.chat-messages-date {
  margin: 0 auto;
  padding: 48px 0 30px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  height: 100%;
}
