<div class="main-chat-content-wrapper">
    <div class="chat-messages-date">
      {{> text
        content="2023, july, 19"
        style="regular500 smaller-plus grey2"
      }}
    </div>
    <div class="chat-messages">
      {{#each messages}}
          {{{this}}}
      {{/each}}
    </div>
</div>
