<div class="two-columns-container">
  <div class="lefted-column blocks-align-center">
      {{> arrow style="arrow-left"}}
  </div>
  <div class="main-column" >
      <div class="inner-container">
        <div class="page-content">
          {{> avatar src=defaultImage alt="Helena" style="full-size"}}
          {{> text content="Helena" style="regular600 text-default"}}
          <form class="form">
            <div class="list-items">
              <div class="item">
                <div class="itemKey">{{> text content="Email" style="regular500 small"}}</div>
                {{> textInput autofocus="autofocus" type="email" simple="simple" inputId="email" alertMessage="Invalid email" value="pochta@yandex.ru" inputStyle="regular500 small grey2"}}
              </div>
              <div class="item">
                <div class="itemKey">{{> text content="Login" style="regular500 small"}}</div>
                {{> textInput type="text" simple="simple" inputId="login" alertMessage="Invalid login" value="ivanivanov" inputStyle="regular500 small grey2"}}
              </div>
              <div class="item">
                <div class="itemKey">{{> text content="Name" style="regular500 small"}}</div>
                {{> textInput type="text" simple="simple" inputId="name" alertMessage="Invalid name" value="Ivan" inputStyle="regular500 small grey2"}}
              </div>
              <div class="item">
                <div class="itemKey">{{> text content="Surname" style="regular500 small"}}</div>
                {{> textInput type="text" simple="simple" inputId="surname" alertMessage="Invalid surname" value="Ivanov" inputStyle="regular500 small grey2"}}
              </div>
              <div class="item">
                <div class="itemKey">{{> text content="Chat name" style="regular500 small"}}</div>
                {{> textInput type="text" simple="simple" inputId="chat-name" alertMessage="Invalid chat name" value="Ivan" inputStyle="regular500 small grey2"}}
              </div>
              <div class="item">
                <div class="itemKey">{{> text content="Telephone" style="regular500 small"}}</div>
                {{> textInput type="tel" simple="simple" inputId="tel" alertMessage="Invalid telephone" value="+7 (909) 967 30 30" inputStyle="regular500 small grey2"}}
              </div>
            </div>
            <div class="form-actions-wrapper">
              {{> button type="submit" label="Save" style="submit-btn"}}
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
