<div class="service-page-container">
  <div class="inner-container">
    <div class="service-page-content blocks-align-center">
      <div class="service-page-title">{{> text content="404" style="regular500 large"}}</div>
      <div class="servise-page-text">{{> text content="Не туда попали" style="regular medium"}}</div>
      <div>{{> link label="Назад к чатам" style="regular500 smaller"}}</div>
    </div>
  </div>
</div>
